<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Video Game Info</title>
    <!-- Bootstrap core CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <!-- Custom Styles -->
    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light navbar-expand-md fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="./index.html"
            >VGI</a>
      </nav>
    </header>

    <main>
        <div class="container d-flex flex-column justify-content-center align-items-center" style="margin-top: 10em">
            <h1 class="display-4 fw-normal" style="margin: 1.5em;">Video Game Info</h1>
        <form action="/search" method="GET" class=" input-group mb-4">
            <input class="form-control" type="text" placeholder="Search" name="query" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
              </div>
        </form>
    </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
